{% extends 'base.html' %}
{% load static %}
{% block headerColor %}{{ block.super }}warning{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block headTitle %}{% if form.instance.pk %}Modifica {{ object|upper }}{% else %}Aggiungi nuova azienda{% endif %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}
<div class="row row-cols-3">
    <div class="col-12">
        <form method="post" action="" id="aziendaForm">
            <div class="card card-outline card-yellow shadow">
                <div class="card-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Base</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Sede legale</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Attributi</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">Sedi</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" aria-controls="tab5" aria-selected="false">Persone</button>
                                </li>
                                <li class="mt-5 ml-1">
                                    <span class="text-uppercase text-muted small fw-bold mb-1">Azioni disponibili</span>
                                    <a href="#" id="copyMainToLegal" class="btn btn-warning text-white text-lowercase d-block text-xs my-2">Copia sede principale in sede legale</a> 
                                    {% if form.instance.pk %}<a href="{% url 'aziende-delete' object.pk %}" class="btn btn-danger text-white d-block">Elimina</a>{% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                    <div class="card-body pt-0 row row-cols-3">
                                        <div class="col-12 mt-0">
                                            <hr data-content="DENOMINAZIONE" class="hr-text">
                                        </div>
                                        <div class="col-9">
                                            <div class="form-floating mb-2">
                                                {{ form.ragione_sociale }}
                                                <label for="{{ form.ragione_sociale.id_for_label }}">Ragione Sociale</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-floating mb-2">
                                                {{ form.abbreviazione }}
                                                <label for="{{ form.abbreviazione.id_for_label }}">Abbreviazione</label>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-0">
                                            <hr data-content="DATI FISCALI" class="hr-text">
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.partita_iva }}
                                                <label for="{{ form.partita_iva.id_for_label }}">Partita IVA</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.codice_fiscale }}
                                                <label for="{{ form.codice_fiscale.id_for_label }}">Codice Fiscale</label>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-floating mb-2">
                                                {{ form.indirizzo_pec }}
                                                <label for="{{ form.indirizzo_pec.id_for_label }}">Indirizzo PEC</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-floating mb-2">
                                                {{ form.codice_sdi }}
                                                <label for="{{ form.codice_sdi.id_for_label }}">Codice SDI</label>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <hr data-content="SEDE PRINCIPALE" class="hr-text">
                                            <!-- <hr data-content="UTILIZZA ANCHE COME SEDE LEGALE" class="hr-text-r d-none d-md-block"> -->
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_riferimento }}
                                                <label for="{{ form.sedeMain_riferimento.id_for_label }}">Riferimento</label>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_indirizzo }}
                                                <label for="{{ form.sedeMain_indirizzo.id_for_label }}">Indirizzo</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_numero_civico }}
                                                <label for="{{ form.sedeMain_numero_civico.id_for_label }}">Numero Civico</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_cap }}
                                                <label for="{{ form.sedeMain_cap.id_for_label }}">CAP</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_citta }}
                                                <label for="{{ form.sedeMain_citta.id_for_label }}">Città</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_provincia }}
                                                <label for="{{ form.sedeMain_provincia.id_for_label }}">Provincia</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_telefono }}
                                                <label for="{{ form.sedeMain_telefono.id_for_label }}">Telefono</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_email }}
                                                <label for="{{ form.sedeMain_email.id_for_label }}">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_info_mittente }}
                                                <label for="{{ form.sedeMain_info_mittente.id_for_label }}">Info Mittente</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeMain_info_edificio }}
                                                <label for="{{ form.sedeMain_info_edificio.id_for_label }}">Info Edificio</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                    <div class="card-body pt-0 row row-cols-3">
                                        <div class="col-12">
                                            <hr data-content="SEDE LEGALE" class="hr-text">
                                        </div>
                                        <div class="col-9">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_indirizzo }}
                                                <label for="{{ form.sedeLegal_indirizzo.id_for_label }}">Indirizzo</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_numero_civico }}
                                                <label for="{{ form.sedeLegal_numero_civico.id_for_label }}">Numero Civico</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_cap }}
                                                <label for="{{ form.sedeLegal_cap.id_for_label }}">CAP</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_citta }}
                                                <label for="{{ form.sedeLegal_citta.id_for_label }}">Città</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_provincia }}
                                                <label for="{{ form.sedeLegal_provincia.id_for_label }}">Provincia</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_telefono_principale }}
                                                <label for="{{ form.sedeLegal_telefono_principale.id_for_label }}">Telefono Principale</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_email_principale }}
                                                <label for="{{ form.sedeLegal_email_principale.id_for_label }}">Email Principale</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_info_mittente }}
                                                <label for="{{ form.sedeLegal_info_mittente.id_for_label }}">Info Mittente</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.sedeLegal_info_edificio }}
                                                <label for="{{ form.sedeLegal_info_edificio.id_for_label }}">Info Edificio</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <div class="form-floating mb-2">
                                                {{ form.tipo_contatto }}
                                                <label for="{{ form.tipo_contatto.id_for_label }}">Tipo Contatto</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.attivo }}
                                                <label for="{{ form.attivo.id_for_label }}">Attivo</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-floating mb-2">
                                                {{ form.bloccato }}
                                                <label for="{{ form.bloccato.id_for_label }}">Bloccato</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">        
                    <button type="submit" class="btn btn-success float-right mr-2">Salva</button>
                    {% if form.instance.pk %}<a href="{% url 'aziende-detail' object.pk %}" class="btn btn-secondary mr-2">indietro</a>{% else %}<a href="{% url 'aziende-list' %}" class="btn btn-secondary float-right mr-2">Annulla</a>{% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/multiconnect-keyboard.js' %}"></script>
<script>
    $(document).ready(function() {
        $('input').each(function() {
            $(this).addClass('form-control');
            $(this).attr('placeholder', '');
        });
        $('select').each(function() {
            $(this).addClass('form-control');
            $(this).attr('placeholder', '');
        });
        $('textarea').each(function() {
            $(this).addClass('form-control');
            $(this).attr('placeholder', '');
        });
		$('form input:visible:enabled:first').focus();
        $('input').each(function() {
            $(this).addClass('form-control');
            $(this).attr('placeholder', '');
        });
        $('select').each(function() {
            $(this).addClass('form-control');
            $(this).attr('placeholder', '');
        });
        $('textarea').each(function() {
            $(this).addClass('form-control');
            $(this).attr('placeholder', '');
        });
        $('form input:visible:enabled:first').focus();

        // Funzione per copiare i campi di sedeMain in sedeLegal
        function copyFields() {
            $('#id_sedeLegal_indirizzo').val($('#id_sedeMain_indirizzo').val());
            $('#id_sedeLegal_numero_civico').val($('#id_sedeMain_numero_civico').val());
            $('#id_sedeLegal_cap').val($('#id_sedeMain_cap').val());
            $('#id_sedeLegal_citta').val($('#id_sedeMain_citta').val());
            $('#id_sedeLegal_provincia').val($('#id_sedeMain_provincia').val());
            $('#id_sedeLegal_telefono_principale').val($('#id_sedeMain_telefono').val());
            $('#id_sedeLegal_email_principale').val($('#id_sedeMain_email').val());
            $('#id_sedeLegal_info_mittente').val($('#id_sedeMain_info_mittente').val());
            $('#id_sedeLegal_info_edificio').val($('#id_sedeMain_info_edificio').val());
        }

        // Assegna la funzione al link
        $('#copyMainToLegal').on('click', function(e) {
            e.preventDefault();
            copyFields();
        });
    });
</script>
{% endblock %}