{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block headTitle %}Ciao {{ user.first_name }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block extra_head %}
<link href="{% static 'css/multiconnect-slider.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.typeahead.min.css.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row row-cols-3">
    <div class="col-12">
        <div class="card card-outline card-indigo">
            <div class="card-header"><h3 class="card-title">TITOLO</h3></div>
            <div class="card-body">
                    [CAMPO DI RICERCA]
            </div>
            <div class="card-footer">
                FOOTER
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/multiconnect-slider.js' %}"></script>
<script src="{% static 'js/jquery.typeahead.min.js' %}"></script>
{% endblock %}
