{% extends 'base.html' %}
{% load static %}
{% block title %}Ricerca in rubrica{% endblock %}
{% block headTitle %}Cerca{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
<div class="row row-cols-3">
    <div class="col-12">
        <div class="card card-outline card-indigo">
            <div class="card-header"><h3 class="card-title">rubrica</h3></div>
            <div class="card-body">
                    [CAMPO DI RICERCA]
            </div>
            <div class="card-footer">
                FOOTER
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
{% endblock %}
