.action-icons {
	display: none;
}
tr:hover .action-icons {
	display: inline-block;
}
.dataTables_filter {
	float: left !important;
}
.dataTables_length {
	float: right !important;
}
.dataTables_filter {
	width: 100%;
	float: none;
	margin-bottom: .8rem;
}
.dataTables_filter label {
	display: flex;
	justify-content:left;
	width: 100%;
}
.dataTables_filter input {
	flex: 1;
	width: 100%;
	max-width: none;
}

#tableSedi_filter, #tablePersone_filter{
	display:none;
}	
.highlight {
    background-color: #d1ecf1; /* Colore di sfondo per evidenziare la riga */
}