{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block headTitle %}Ciao {{ user.first_name }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block extra_head %{% endblock %}
{% block content %}
<div class="row row-cols-3">
    <div class="col-12">
        <div class="card card-outline card-indigo">
            <div class="card-header"><h3 class="card-title">Rubrica Aziende</h3></div>
            <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Base</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Orari</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Sedi</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab3" aria-selected="false">Persone</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                <div class="card-body pt-0 row row-cols-3">
                                    <div class="col-12">
                                        <hr data-content="DATI FISCALI" class="hr-text">
                                    </div>
                                    <form method="post" novalidate>
                                    {% csrf_token %}
                                    
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.ragione_sociale }}
                                            <label for="{{ form.ragione_sociale.id_for_label }}">Ragione Sociale</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.abbreviazione }}
                                            <label for="{{ form.abbreviazione.id_for_label }}">Abbreviazione</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.partita_iva }}
                                            <label for="{{ form.partita_iva.id_for_label }}">Partita IVA</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.codice_fiscale }}
                                            <label for="{{ form.codice_fiscale.id_for_label }}">Codice Fiscale</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.indirizzo_pec }}
                                            <label for="{{ form.indirizzo_pec.id_for_label }}">Indirizzo PEC</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.codice_sdi }}
                                            <label for="{{ form.codice_sdi.id_for_label }}">Codice SDI</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.attivo }}
                                            <label for="{{ form.attivo.id_for_label }}">Attivo</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.bloccato }}
                                            <label for="{{ form.bloccato.id_for_label }}">Bloccato</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr data-content="SEDE PRINCIPALE" class="hr-text">
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_riferimento }}
                                            <label for="{{ form.sedeMain_riferimento.id_for_label }}">Sede Main - Riferimento</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_indirizzo }}
                                            <label for="{{ form.sedeMain_indirizzo.id_for_label }}">Sede Main - Indirizzo</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_numero_civico }}
                                            <label for="{{ form.sedeMain_numero_civico.id_for_label }}">Sede Main - Numero Civico</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_cap }}
                                            <label for="{{ form.sedeMain_cap.id_for_label }}">Sede Main - CAP</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_citta }}
                                            <label for="{{ form.sedeMain_citta.id_for_label }}">Sede Main - Città</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_provincia }}
                                            <label for="{{ form.sedeMain_provincia.id_for_label }}">Sede Main - Provincia</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_telefono }}
                                            <label for="{{ form.sedeMain_telefono.id_for_label }}">Sede Main - Telefono</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_email }}
                                            <label for="{{ form.sedeMain_email.id_for_label }}">Sede Main - Email</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_info_mittente }}
                                            <label for="{{ form.sedeMain_info_mittente.id_for_label }}">Sede Main - Info Mittente</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeMain_info_edificio }}
                                            <label for="{{ form.sedeMain_info_edificio.id_for_label }}">Sede Main - Info Edificio</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr data-content="SEDE LEGALE" class="hr-text">
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_indirizzo }}
                                            <label for="{{ form.sedeLegal_indirizzo.id_for_label }}">Sede Legale - Indirizzo</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_numero_civico }}
                                            <label for="{{ form.sedeLegal_numero_civico.id_for_label }}">Sede Legale - Numero Civico</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_cap }}
                                            <label for="{{ form.sedeLegal_cap.id_for_label }}">Sede Legale - CAP</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_citta }}
                                            <label for="{{ form.sedeLegal_citta.id_for_label }}">Sede Legale - Città</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_provincia }}
                                            <label for="{{ form.sedeLegal_provincia.id_for_label }}">Sede Legale - Provincia</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_telefono_principale }}
                                            <label for="{{ form.sedeLegal_telefono_principale.id_for_label }}">Sede Legale - Telefono Principale</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_email_principale }}
                                            <label for="{{ form.sedeLegal_email_principale.id_for_label }}">Sede Legale - Email Principale</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_info_mittente }}
                                            <label for="{{ form.sedeLegal_info_mittente.id_for_label }}">Sede Legale - Info Mittente</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.sedeLegal_info_edificio }}
                                            <label for="{{ form.sedeLegal_info_edificio.id_for_label }}">Sede Legale - Info Edificio</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            {{ form.tipo_contatto }}
                                            <label for="{{ form.tipo_contatto.id_for_label }}">Tipo Contatto</label>
                                        </div>
                                    </div>
                
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-primary">Salva</button>
                                        <a href="{% url 'aziende-list' %}" class="btn btn-secondary">Annulla</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                <div class="card-body">
                                    Content for tab 2
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                <p>Content for Tab 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right mr-2">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        $('input').addClass('form-control');
        $('select').addClass('form-control');
        $('textarea').addClass('form-control');
    });
</script>
{% endblock %}
