{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} · OneBox</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
    <link href="{% static 'css/fa/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/adminlte.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/multiconnect-ui.min.css' %}" rel="stylesheet">
    <style>body{opacity:0;transition:opacity 0.4s ease-in-out;background-color:#6c757d;}</style>
	{% block extra_head %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
{% include 'header.html' %}
{% include 'sidebar.html' %}
	<div class="content-wrapper">
		<div class="pageContent container">
			<div class="content-header">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">{% block headTitle %}{% endblock %}</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-end">
							{% block breadcrumb %}{% endblock %}
						</ol>
					</div>
				</div>
			</div>
			<section class="content">
				{% block content %}{% endblock %}
			</section>
		</div>
    </div>
    <aside class="control-sidebar control-sidebar-dark" aria-label="Control sidebar"></aside>
	{% include 'footer.html' %}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/adminlte.min.js' %}"></script>
<script src="{% static 'js/multiconnect-ui.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
