{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block headTitle %}Ciao {{ user.first_name }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block extra_head %}<link href="{% static 'css/multiconnect-slider.css' %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="row row-cols-3">
    <div class="col-12">
        <div class="card card-outline card-indigo">
            <div class="card-header"><h3 class="card-title">Rubrica Aziende</h3></div>
            <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Base</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Orari</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Sedi</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab3" aria-selected="false">Persone</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                                <div class="card-body pt-0 row row-cols-3">
                                    <div class="col-12">
                                        <hr data-content="DATI FISCALI" class="hr-text">
                                    </div>
                                    <div class="col-9">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Ragione Sociale</label></div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Abbreviazione</label></div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Partita IVA</label></div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Codice Fiscale</label></div>
                                    </div>
                                    <div class="col-10">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Indirizzo PEC</label></div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Codice SDI</label></div>
                                    </div>
                                    <div class="col-12">
                                        <hr data-content="SEDE LEGALE" class="hr-text">
                                    </div>
                                    <div class="col-10">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Indirizzo</label></div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">N. Civico</label></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">CAP</label></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Città</label></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating mb-3"><input type="text" class="form-control" id="campo" placeholder=""><label for="campo">Provincia</label></div>
                                    </div>
                                    <div class="col-4"><label>Multiple</label>
                                        <select class="select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                        </select></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                <div class="card-body">
                                    <div id="OrariAperturaContainer"></div>
                                    <div id="PiccoOperativoContainer"></div>
                                    <div id="PausaPranzoContainer"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                <p>Content for Tab 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-primary float-right mr-2">Submit</button>
</div>
<div class="col"><div class="card card-outline card-primary"><div class="card-body">Test</div></div></div>
<div class="col"><div class="card card-outline card-primary"><div class="card-body">Test</div></div></div>
<div class="col"><div class="card card-outline card-primary"><div class="card-body">Test</div></div></div>
<div class="col-6"><div class="card card-outline card-primary"><div class="card-body">Test</div></div></div>
<div class="col-6"><div class="card card-outline card-primary"><div class="card-body">Test</div></div></div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/multiconnect-slider.js' %}"></script>
<script>
$(document).ready(function(){
    createSlider('OrariApertura', '#007bff', '0600', '2100', 30, '#OrariAperturaContainer', 'Orari di apertura:');
    createSlider('PiccoOperativo', '#f56954', '0600', '2100', 30, '#PiccoOperativoContainer', 'Picco operatività:');
    createSlider('PausaPranzo', '#7cb91c', '0600', '2100', 30, '#PausaPranzoContainer', 'Pausa pranzo:');
});
</script>
{% endblock %}
